gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore or credentials.
# See https://flutter.dev/to/reference-keystore
key.properties
**/key.properties
*.keystore
*.jks
*.pem
*.p12
*.key
*.cer
*.crt
!*.example

